body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 250px;
    gap: 32px;

}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.header-link {
    display: flex;
    gap: 32px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a, .hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.signup-hero {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 8px 28px;
    align-self: flex-start;
    margin-top: 12px;
}

.owl {
    width: 650px;
    border-radius: 15%;
}