body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 250px 80px;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.header-link {
    display: flex;
    gap: 32px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    text-align: justify;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a, .hero-sub {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.signup-hero {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 8px 28px;
    align-self: flex-start;
    margin-top: 12px;
}

.owl {
    width: 650px;
    border-radius: 25px;
}

.mid-container {
    padding: 0px 0px 50px;
    display: flex;
    flex-direction: column;
}

.card-info {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding: 50px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 86px;
}

.card {
    width: 200px;
}

.fox {
    width: 200px;
    border-radius: 25px;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 25%;
}

.quote-text, .quote-author {
    font-size: 36px;
    color: #1F2937;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
    align-self: center;
    text-align: justify;
}

.quote-author {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 25px;
}