@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    display: flex;
    flex-direction: column;
    padding: 20px 250px 80px;
    gap: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.header-link {
    display: flex;
    gap: 32px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;
    text-align: justify;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

a, .hero-sub {
    font-size: 18px;
    text-decoration: none;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-img {
    width: 50px;
    height: 50px;
}

.signup {
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 28px;
}

.signup.hero {
    border: none;
    align-self: flex-start;
    margin-top: 12px;
}

.cat-hero {
    width: 600px;
    height: auto;
    border-radius: 10px;
    border-style: solid;
}

.mid-container {
    padding: 0px 0px 100px;
    display: flex;
    flex-direction: column;
}

.card-info {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding: 50px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 86px;
    font-size: 18px;
}

.card {
    width: 300px;
    text-align: center;
}

.cat-img {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    border-style: solid;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 100px 25%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
}

.quote-author {
    font-size: 30px;
    font-weight: bolder;
    align-self: flex-end;
    margin-top: 25px;
}

.bot-container {
    display:flex;
    justify-content: center;
    padding: 50px 250px;
}

.modal-container {
    display: flex;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
    flex: 1 auto;
    justify-content: space-around;
}

.modal-text :nth-child(1) {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-text :nth-child(2) {
    font-size: 18px;
}

.signup.modal {
   display: flex;
   align-items: center;
   border-style: solid;
}

.footer {
    font-size: 20px;
    text-align: center;
    padding: 32px 0px;
}

/* Page coloring below */

body {
    background-color: #ffdddc;
}

.footer,
.top-container {
    background-color: #fb8c84;
}

.footer,
.card,
.card-info,
a,
.hero-sub,
.hero-main,
.top-container {
    color: #0e344c;
}

.modal-container,
.signup {
    background-color: #0e344c;
    color: #ffdddc
}

.signup.modal {
    border-color: #ffdddc;
 }

 .quote-container {
    background-color: #f5c6c3;
}

.cat-img {
    border-color: #f5c6c3;
}

.quote-text, 
.quote-author {
    color: #1f2937e3;
}

.cat-hero {
    border-color: #0e344c;
}